<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ExportTags" value="Computers &amp; Technology, Desktop Applications" />
    <add key="TargetDir" value="./_export"/>
    <!--add key="TargetDir" value="/media/E01C57B51C578586/ebooks"/-->
    <!--add key="TargetDir" value="C:\Users\User\_export"/-->
  </appSettings>
</configuration>